/*===========================*
 *  Application base settings
 ===========================*/

 * { margin: 0; padding: 0; }

 html,
 body { background-color: #EEF2F5; }

 .grid {;
   width: 1000px;
   margin: 0 auto;
 }

 .loading {
   position: absolute;
   top: 50%;
   left: 50%;
   margin: -50px 0 0 -50px;;
 }
